html, body {
	overflow-x: hidden; 
    overflow-y: auto;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../images/background.jpg");
	height: 100%;
/*	position: absolute;
	top: 0%;*/
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	color: #363e3d;
	margin: 0;
	text-align: center;
	letter-spacing: 1.8px;
	line-height: 20px;
}

a {
	text-decoration: none;
}

/*.button1 {
	border: 1px solid #363e3d;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1em;
	position: fixed;
	margin-left: 320px;
	margin-top: 500px;
}*/

.index2-div {
	margin-top: 210px;
}

.index2-text {
	margin-top: 30px;
}

.index2-text2 {
	letter-spacing: 1px;
	margin-top: 40px;
}

.enter {
	font-size: 17px;
	margin-top: 80px;
}

.color {
	color: #c2272e;
}

form {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-top: 15px;
}

input {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	border: 1px solid #ea8f98;
}

.blank {
	width: 270px;
	height: 18px;
}

.button {
	margin-top: 35px;
	letter-spacing: 1px;
	border: 1px solid #c06971;
	background-color: #c06971;
	color: white;
	font-weight: none;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.brick1 {
	position: fixed;
	width: 35%;
	left: -50px;
	top: 250px;
}

.brick2 {
	position: fixed;
	right: -40px;
	top: 530px;
}

/*desktop*/
@media screen and (max-width: 1440px) and (max-height: 850px) {
	.brick1 {
		width: 15%;
		left: -50px;
		top: 100px;
	}

	.brick2 {
		width: 12%;
		right: -40px;
		top: 480px;
	}
}

/*iPhone X*/
@media screen and (max-width: 380px) and (max-height: 820px) {
	p {
		font-size: 15px;
	}

	.index2-text2 {
		font-size: 13px;
	}

	.brick1 {
		position: fixed;
		width: 35%;
		left: -50px;
		top: 280px;
	}

	.brick2 {
		position: fixed;
		right: -40px;
		top: 580px;
	}
}	

/*plus*/
@media screen and (max-width: 415px) and (max-height: 740px) {
	.index2-div {
		margin-top: 160px;
	}
}

/*regular*/
@media screen and (max-width: 380px) and (max-height: 670px) {
	.index2-div {
		margin-top: 140px;
	}
}