html {
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
}

img {
	/*border: 1px solid;*/
/*    padding: 10px;*/
    box-shadow: 3px 8px 8px 5px #888888;
	height: 740px;

	/*height: 800px;*/
	display: block;
    margin-left: auto;
    margin-right: auto;
}